* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorFondo: yellow;
    --colorFuente:green;
    --colorFuenteDia: black;
    --colorFondoDia: gainsboro;
    --colorFuenteNoche:white;
    --colorFondoNoche:darkgray;
    --anchoIconoModo:20px;
    --modoGuardado:dia;
}

#zonaModo {
    width: 100%;
    display: flex;
    justify-content:center;
    padding-top: 20px;
}

#zonaModo img {
    width:150px;
    height:150px;
}

#dia, #noche {
    width:100%;
}

#menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: #333333;
    color: #fff;
}

.menu-button {
    display: inline-block;
    height: 100%;
    padding: 30px 20px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #555;
}

#ajustes {
    float: right;
    height: 97px;
    padding: 10px;
    cursor: pointer;
}

#ajustes:hover {
    background-color: #555;
}

#ajustes img {
    width: 73px;
    height: 73px;
}

#menu-derecha {
    position: fixed;
    top: 0;
    right: -30%;
    width: 30%;
    height: 100%;
    background-color: #ccc;
    transition: right 0.3s ease-in-out;
    text-align: center;
    color: white;
    font-size: 45px;
}

#menu-derecha.mostrar {
    right: 0;
}

input{
    height: 50px;
    width: 80%;
    font-size: 30px;
    text-align: center;
}

button{
    height: 40px;
    width: 100px;
    font-size: 20px;
}

.user-message {
    position: fixed;
    background-color: black;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    bottom: 20px;
    left: 20px;
  }
.username-container {
    margin-bottom: 20px;
}

#cuerpo {
    top: 0;
    left: 0;
    width: 100vw;
    height: 85vh;
    background-color: #1d1d1d;
    color: white;
    text-align: center;
}

#imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

#bienvenida{
    background: url(trifuerza.gif);
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    width: 250px;
    height: 250px;
}

.ganon img{
    width: 250px;
    height: 250px;
}

.link img{
    width: 185px;
    height: 208px;
}

#portaimagenes{
    bottom: 0;
}

