* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorFondo: yellow;
  --colorFuente:green;
  --colorFuenteDia: black;
  --colorFondoDia: gainsboro;
  --colorFuenteNoche:white;
  --colorFondoNoche:darkgray;
  --anchoIconoModo:20px;
  --modoGuardado:dia;
}

#zonaModo {
  width: 100%;
  display: flex;
  justify-content:center;
  padding-top: 20px;
}

#zonaModo img {
  width:150px;
  height:150px;
}

#dia, #noche {
  width:100%;
}

#menu {
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: #333333;
  color: #fff;
}

.menu-button {
  display: inline-block;
  height: 100%;
  padding: 30px 20px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #555;
}

#ajustes {
  float: right;
  height: 97px;
  padding: 10px;
  cursor: pointer;
}

#ajustes:hover {
  background-color: #555;
}

#ajustes img {
  width: 73px;
  height: 73px;
}

#menu-derecha {
  position: fixed;
  top: 0;
  right: -30%;
  width: 30%;
  height: 100%;
  background-color: #ccc;
  transition: right 0.3s ease-in-out;
  text-align: center;
  color: white;
  font-size: 45px;
}

#menu-derecha.mostrar {
  right: 0;
}

input{
  height: 50px;
  width: 80%;
  font-size: 30px;
  text-align: center;
}

button{
  height: 40px;
  width: 100px;
  font-size: 20px;
}

.user-message {
  position: fixed;
  background-color: black;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  bottom: 20px;
  left: 20px;
}
.username-container {
  margin-bottom: 20px;
}

#cuerpo h2{
    text-align: center;
    font-size: 100px;
    font-family: Comic Sans MS;
    animation: color-change 5s infinite;
    -webkit-text-stroke: 4px black;
}

#cuerpo h3{
    text-align: center;
    font-size: 50px;
    font-family: Comic Sans MS;
    animation: color-change 5s infinite;
    -webkit-text-stroke: 2px black;
}

#contenedor{
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    height: 75vh;
}

.casilla{
    height: 100px;
    width: 100px;
    background-color: hsl(36, 100%, 90%, 0.8);
    border: black 2px solid;
    font-size: 70px;
    text-align: center;
}

#ganador{
    height: 100vh;
    width: 100vw;
    background-color: hsl(0, 0%, 0%, 0.8);
    position: absolute;
    z-index: 1;
    display:none;
    text-align: center;
    font-size: 200px;
    font-family: Comic Sans MS;
    animation: color-change 5s infinite;
    -webkit-text-stroke: 5px black;
}

#boton{
    height: 20vh;
    width: 45vw;
    background-color: blue;
    position: absolute;
    z-index: 1;
    display:none;
    text-align: center;
    margin-left: 25vw;
    margin-top: 60vh;
    font-size: 70px;
    font-family: Comic Sans MS;
    -webkit-text-stroke: 1px white;
    border: white 5px solid;
}

body{
    background-image: url(./fondo.gif);
    align-items: center;
    background-size: cover;
}

@keyframes color-change {
    0% {
      color: red;
    }
    25% {
      color: blue;
    }
    50% {
      color: green;
    }
    75% {
      color: yellow;
    }
    100% {
      color: purple;
    }
}